.cards{
    width: 45rem;
    height: 20rem;
    /* border: 2ch red; */
    background-color: rgba(255, 177, 177, 0.055);
    /* border: 3px solid rgba(141, 118, 118, 0.253); */
    border-radius: 20px;
    display: flex;

}
.cards:hover{
    /* transform: scale(1.1); */
    /* border: 3px solid rgba(224, 84, 84, 0.253); */
    background-color: rgba(252, 167, 167, 0.199);

}
.img{
    border-radius: 20px;
    width: 15rem;
    height: 16rem;
    /* align-self: center; */
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    margin-top: 20px;
    margin-left: 10px;
    
}
.title{
    font-size: 2rem;
    font-weight: bold;
    color: brown;
    text-align: center;
    margin-top: 40px;
}
.discription{
    color: gray;
    padding: 10px;
    /* text-align: center; */
    
}
.amount{
    text-align: center;
    font-weight: bold;
    padding: 10px;
}
.bt1{
    color: red;
    margin-right: 5rem;
    margin-top: 1rem;
    margin-left: 5rem;
    
}
.bt1:hover{
    transform: scale(1.1);
}
.bt2{
   color: green;
   margin-top: 1rem;
   
    
}
.bt2:hover{
    transform: scale(1.1);
}
.iconedit{
    width: 2rem;
   height: 3rem;
}
.icondelete{
    width: 2rem;
    height: 3rem;
}
.buttonscontainer{
    display: flex;
}
.add{
    float: right;
    background-color: rgba(210, 105, 30, 0.658);
    padding: 10px;
    border-radius: 10px;
}
.add:hover{
    background-color: coral;
    transform: scale(0.9);
}