@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap');

 .login{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Raleway', sans-serif ;
     height: 100vh;
     width: 100vw;
     background-image: url('https://cdn.pixabay.com/photo/2016/06/01/06/26/open-book-1428428_960_720.jpg');
     background-position: center;
     background-size: cover;
     background-repeat: repeat;
     background-attachment: fixed;
     
  

 }
 .mainContainer1{
     display: flex;
     align-items: center;
     flex-direction: column;
     height: 80vh;
     width: 30vw;
     /* background: rgba(255, 255, 255, 0.15); */
     box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
     backdrop-filter: blur(8.5px);
     border-radius: 10px;
     color: #ffffff;
     padding-bottom: 10rem;
     letter-spacing: 0.4rem;


 }
 .wel{
     margin: 3rem 0 2rem 0;
     font-family: 'Raleway', sans-serif ;
     font-weight: bold;
     text-transform: uppercase;

 }
 .inputContainer1{
     display: flex;
     flex-direction: column;
 }
 .in{
     background: rgba(255, 255, 255, 0.15);
     box-shadow: 0 8px 32px 0 rgba(31, 38. 135, 0.37);
     border-radius: 2rem;
     /* width: 100%; */
     height: 40px;
     padding: 1rem;
     border: none;
     outline: none;
     display: flex;
     flex-direction: column;
     margin-bottom: 1rem;
     font-family: 'Raleway', sans-serif ;
     color: #3c354e;
     width: 20rem;
     font-size: 1rem;
     font-weight: bold;

 }
 .in:focus{
     display: inline-block;
     box-shadow: 0 0 0 0.2rem rgb(165, 97, 42);
     backdrop-filter: 2rem;

 }
 in::placeholder{
     color: white;
     font-weight: 100;
     font-size: 1rem;
 }
 .buttonContainer{
     display: flex;
     align-items: center;
     justify-content: center;
     margin: 1rem 0 2rem 0;
     width: 100%;
     font-family: 'Raleway', sans-serif ;
 }
.button{
    background: linear-gradient( to right, #92441f  0%, #a07f4e 79%);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    width: 65%;
    height: 3rem;
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif ;
    font-weight: bold;
}
.button:hover{
    transform: scale(1.1);
    background: linear-gradient( to right, #d85e22  0%, #d1a666 79%);
}
.loginwith{
    cursor: pointer;
    font-family: 'Raleway', sans-serif ;
    font-weight: bold;
}
.hrline{
    width: 90%;
    height: 0.3rem;
    border-radius: 0.8rem;
    border: none;
    margin: 1.5em 0 1rem 0;
    background: linear-gradient(to right, #d85e22  0%, #d1a666 79%);
    backdrop-filter: blur(25px);

}
.iconContainer{
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0 3rem 0;
    width: 80%;

}
.forgetp{
    cursor: pointer;
    color: brown;
}
.icons{
    color: #92441f;
    transform: scale(1.1);
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    border-radius:4rem ;

}
@media only screen and (max-width:320px){
    .mainContainer{
       width: 80vw;
       height: 90vh;

    }
    .in{
        width: 13rem;
        height: 40px;
    }
    .in::placeholder{
        font-size: small;
    }
    .iconContainer{
        margin: 1rem 0 1rem 0;
    }
    .forgetp{
        cursor: pointer;
        color: brown;
        font-size: small;
        padding: 10px;
    }
    .button{
        width: 55%;
        height: 2rem;
        font-size: small;
    }
    .loginwith{
        font-size: small;
    }
}
@media only screen and (min-width:360px){
    .mainContainer{
       width: 80vw;
       height: 90vh;

    }
    .in{
        width: 13rem;
        height: 40px;
    }
    .in::placeholder{
        font-size: small;
    }
    .iconContainer{
        margin: 1rem 0 1rem 0;
    }
    .forgetp{
        cursor: pointer;
        color: brown;
        font-size: small;
        padding: 10px;
    }
    .button{
        width: 55%;
        height: 2rem;
        font-size: small;
    }
    .loginwith{
        font-size: small;
    }
}

@media only screen and (min-width:411px){
    .mainContainer{
       width: 80vw;
       height: 90vh;

    }
    .in{
        width: 16rem;
        height: 44px;
    }
    .in::placeholder{
        font-size: small;
    }
    .iconContainer{
        margin: 1rem 0 1rem 0;
    }
    .forgetp{
        cursor: pointer;
        color: brown;
        font-size: small;
        padding: 10px;
    }
    .button{
        width: 55%;
        height: 2rem;
        font-size: small;
    }
    .loginwith{
        font-size: small;
    }
}

@media only screen and (min-width:768px){
    .mainContainer{
       width: 80vw;
       height: 90vh;

    }
    .in{
        width: 30rem;
        height: 47px;
    }
    .in::placeholder{
        font-size: small;
    }
    .iconContainer{
        margin: 1rem 0 1rem 0;
    }
    .forgetp{
        cursor: pointer;
        color: brown;
        font-size: small;
        padding: 10px;
    }
    .button{
        width: 55%;
        height: 2rem;
        font-size: small;
    }
    .loginwith{
        font-size: small;
    }
}

@media only screen and (min-width:1024px){
    .mainContainer{
       width: 70vw;
       height: 90vh;

    }
    
   
    .iconContainer{
        margin: 1rem 0 1rem 0;
    }
    .forgetp{
        cursor: pointer;
        color: brown;
        font-size: small;
        padding: 10px;
    }
    .button{
        width: 45%;
        height: 2rem;
        font-size: small;
    }
    .loginwith{
        font-size: small;
    }
}

@media only screen and (min-width:1280px){
    .mainContainer{
       width: 30vw;
       height: 80vh;

    }
    .in{
        width: 20rem;
        height: 47px;
    }
    
}